/*=================================================================
  Navigation
==================================================================*/
.navigation {
    background-color: #000000;
    width: 100%;
    margin-bottom: 0;
  }
  
  .navbar-dark .navbar-nav .active>.nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show>.nav-link {
    color: #57cbcc;
  }
  
  .navbar-toggler:focus {
    outline: 0;
  }